body{
    background-color: #E1d4c1;
}

.title{
    color: #553539;
    background-color: #f4e1d2;
    border-radius: 15px;
    font-size: 300%;
    text-align: center;
    margin-left:  10%;
    margin-right: 10%;
}

.grid{
    padding: 2%;
    background-color: rgb(94, 179, 179);
    border-radius: 15px;
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.grid-item{
    font-weight: 400;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 150%;
    text-align: center;
    margin-left: 4%;
    margin-right: 4%;
    padding: 5%;
    background-color: rgb(106, 198, 226);
    border-radius: 15px;
}

.go{
    font-weight: 400;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;
    border-radius: 10px;
    padding: 3%;
    color: #553539 ;
    text-decoration: none;
    background-color: #f4e1d2;
}

.go:hover{
    color: #f4e1d2;
    background-color:#553539 ;
    animation: forwards;
}

.titolo{
    margin-right: auto;
    margin-left: auto;
    color: rgb(33, 68, 145);
    text-align: center;
    border-radius: 15px;
    font-size: 150%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: bisque;
}

p{
    font-size: 120%;
}

table{
    background-color: brown;
    padding: 1%;
}

.tableSKIBIDI{
    background-color: brown;
    padding: 1%;
}